<h2>📢 Alertovi</h2>
@if (alerts.length === 0) {
    <div >Nema aktivnih alertova.</div>
}
<ul>
    @for (a of alerts; track $index) {
        <li>
             <b>{{ a.fabric }}</b> → {{ a.type }}, {{ a.message }}
        </li>
    }
</ul>

<h2>Unos nabavke materijala</h2>

<form class="purchase-form" (ngSubmit)="submitPurchase()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Naziv materijala</mat-label>
    <input matInput [(ngModel)]="purchase.fabricName" name="fabricName" required placeholder="npr. Cotton Jersey">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Količina (u metrima)</mat-label>
    <input matInput type="number" [(ngModel)]="purchase.quantity" name="quantity" required min="0.1">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Dodaj nabavku
  </button>
</form>
